<div class="d-flex flex-column flex-md-row align-items-center justify-content-between 
        p-3 px-md-4 mb-3 bg-write border-bottom shadow-sm fixed-top">

    <img src="../../assets/online-shop.jpg" style="max-height:70px" alt="logo">
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: large;">
    <a class="p-2 text-dark" href="#">Home</a>
    <a class="p-2 text-dark" href="#">Shop</a>
    <a class="p-2 text-dark" href="#">Contact</a>
    <a class="p-2 text-dark" href="#">About us</a>
  </nav> 
  <div class="d-flex align-items-center">
    <a class="position-relative">
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
        <div class="cart-no">5</div>

    </a>

  
    <a class="btn btn btn-outline-primary mr-2"> Login</a>
    <a class="btn btn btn-outline-primary mr-3"> Sin up</a>
  </div>
</div>
